only-built-dependencies[]=@apollo/protobufjs
only-built-dependencies[]=bufferutil
only-built-dependencies[]=es5-ext
only-built-dependencies[]=keccak
only-built-dependencies[]=leveldown
only-built-dependencies[]=mongodb-memory-server
only-built-dependencies[]=secp256k1
only-built-dependencies[]=truffle
only-built-dependencies[]=utf-8-validate
only-built-dependencies[]=web3
only-built-dependencies[]=web3-bzz
only-built-dependencies[]=web3-shh
